@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/web/cuprum.woff2') format('woff2'),
    url('../fonts/web/cuprum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/web/cuprumbold.woff2') format('woff2'),
    url('../fonts/web/cuprumbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/web/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/web/cuprumbolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/web/cuprumitalic.woff2') format('woff2'),
    url('../fonts/web/cuprumitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/web/ptsans.woff2') format('woff2'),
    url('../fonts/web/ptsans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/web/ptsansbold.woff2') format('woff2'),
    url('../fonts/web/ptsansbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}