@import "fonts";
@import "constants";
@import "catalog";

*,
*::before,
*::after {
  box-sizing: border-box;
}

$main-font: "Cuprum", "Arial", sans-serif;
$second-font: "PT Sans", "Aial", sans-serif;
$red: #ee3643;
$yellow: #ffd180;
$blue: #32425c;
$lightblue: #f4f8f9;
$darkblue: #293449;
$green: #63a63e;

body {
  min-width: 1000px;
  font-family: $main-font;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    background-color: darken($red, 20%);
  }
}

.header {
  background-color: $lightblue;
  padding-bottom: 40px;
}

.header__top {
  height: 42px;
  background-color: $darkblue;
}

.header__top-line {
  position: relative;
  display: flex;
  padding-left: 230px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 10px;
}

.logo {
  width: 220px;
  height: 47px;
  text-transform: uppercase;
  background-color: $red;
  border-bottom: 5px solid #b52933;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
  }

  &:hover {
    background-color: #ca2c37;
  }

  &:active {
    background-color: #ba2732;
  }
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;

  &:hover {
    background-color: #212a3a;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding-left: 95px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    &:focus {
      outline: none;
      background-color: white;
      color: black;

      ~ .search__label {
        color: black;
      }

      ~ .search__icon {
        fill: $red;
      }
    }
  }

  &__label {
    position: absolute;
    left: 47px;
    color: white;
  }

  &__icon {
    position: absolute;
    left: 15px;
    fill: #6a7180;
  }
}

.bookmarks {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 25px;
  color: white;

  &__icon {
    position: absolute;
    left: 17px;
    fill: #6a7180;
  }

  &:hover {
    background-color: #212a3a;

    .bookmarks__icon {
      fill: white;
    }
  }
}

.cart {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 25px;
  color: white;

  &__icon {
    position: absolute;
    left: 17px;
    fill: #6a7180;
  }

  &:hover {
    background-color: #212a3a;

    .cart__icon {
      fill: white;
    }
  }

  &:active {
    background-color: #161d29;
  }
}

.header__order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
  margin-left: auto;
  color: white;
  background-color: $green;

  &:hover {
    background-color: #5fbb2d;
  }

  &:active {
    background-color: #518534;
  }
}

.header__middle {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
}

.about-site {
  width: 300px;
  margin: 0;
  padding-left: 50px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: $red;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    width: 270px;
    height: 45px;
    padding-left: 65px;
    font-size: 21px;
    line-height: 21px;
    color: $red;
    border: 3px solid white;

    &:hover {
      color: darken($red, 20%)
    }

    .icon {
      position: absolute;
      left: 15px;
      fill: #c5c5c5;
    }
  }

  &__address {
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $blue;
  }
}

.login-buttons {
  display: flex;

  &__login, &__register {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 21px;
    color: black;
    background-color: white;
  }

  &__login {
    position: relative;
    justify-content: flex-start;
    width: 120px;
    margin-right: 10px;
    padding-left: 45px;

    &:hover {
      .icon {
        fill: $blue;
      }
    }

    .icon {
      position: absolute;
      left: 15px;
      fill: #c5c5c5;
    }
  }

  &__register {
    justify-content: center;
    width: 150px;
  }
}

.header__nav {
  padding-bottom: 60px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 17px;
    background-color: $blue;
    color: white;
    border-bottom: 5px solid $darkblue;

    &:hover {
      background-color: $darkblue;
    }

    &:active {
      color: #777d88;
      background-color: #1d2739;
    }
  }
}

.features {
  padding-top: 40px;
  padding-bottom: 30px;

  &__cards::after {
    display: table;
    content: "";
    clear: both;
  }
}

.card {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 25px 140px 20px 25px;
  color: white;

  &__title {
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    margin-top: auto;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }

    &:active {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: inherit;
    display: flex;
  }

  &__icon {
    margin: auto;
    fill: white;
  }

  &__new::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    content: "";
    background-image: url("../img/new-flag.png");
  }

  &:nth-of-type(1) {
    margin-right: 20px;
    background-color: #ffbf47;
  }

  &:nth-of-type(2) {
    margin-right: 20px;
    background-color: #3bbce3;
  }

  &:nth-of-type(3) {
    background-color: #dc91d8;
  }

  &:nth-of-type(5) {
    margin-left: 20px;
    background-color: #8ed78f;
  }

  &:nth-of-type(6) {
    margin-left: 20px;
    background-color: #ffc047;
  }
}

.features__slider {
  float: left;
  width: 620px;
  height: 266px;
}

.slide {
  position: relative;

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    padding-top: 20px;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, .25);
  }

  &__title {
    z-index: 100;
    margin-top: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
  }

  &__subtitle {
    font-size: 18px;
    color: white;
  }

  &__link {
    position: absolute;
    bottom: 22px;
    left: 22px;
    width: 195px;
    height: 38px;
    z-index: 100;
  }

  &__button-prev, &__button-next {
    width: 22px;
    height: 40px;
    fill: white;
    cursor: pointer;
    z-index: 100;

    &:hover {
      transition: fill 0.3s;
      fill: darken(white, 20%);
    }
  }

  &__button-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__button-next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

//slick-slider dots overwrite
.custom-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  z-index: 100;
  transform: translateX(-50%);

  li {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: white;
    transition: opacity 1s;

    &:hover {
      cursor: pointer;
    }

    &.slick-active {
      background-color: indianred;
    }

    button {
      display: none;
    }

  }
}

.products__title, .brands__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 24px;
  font-size: 30px;
  text-transform: uppercase;
  color: $blue;
  background-color: #f9f5f0;
}

.products__to-products, .brands__to-brands {
  width: 253px;
  height: 38px;
  font-size: 14px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
  color: black;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
  padding-top: 170px;
  padding-bottom: 20px;
  font-family: $second-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #eaeaea;
  margin-right: 20px;

  &:hover {
    border: none;
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, .75);
    transition: box-shadow 0.15s;

    .product__photo {
      visibility: hidden;
    }

    .product__hidden-buttons {
      visibility: visible;
    }
  }
}

.product__photo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.product__name {
  margin-bottom: auto;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  white-space: pre;
}

.product__old-price {
  margin-bottom: 10px;
  font-size: 17px;
  color: #b1b1b1;
  text-decoration: line-through;
}

.product__new-price {
  color: white;
}

.product__buy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 38px;
  background: transparent url("../img/catalog-item-buttom.png");
  &:hover {

  }
}

.product__hidden-buttons {
  position: absolute;
  top: 0;
  margin-top: 45px;
  visibility: hidden;
}

.product__add-to-cart, .product__add-to-bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.product__add-to-cart {
  position: relative;
  margin-bottom: 7px;
  background-color: $green;
  color: white;
  border-bottom: 3px solid #367315;
  border-radius: 2px;
  cursor: pointer;

  .icon-cart {
    position: absolute;
    left: 10px;
    fill: #92c178;
  }

  &:hover {
    background-color: #5fbb2d;
    transition: background-color 0.25s;

    .icon-cart {
      fill: white;
      fill-opacity: 1;
      transition: fill-opacity 0.25s;
    }
  }

  &:active {
    background-color: #518534;
  }

  .cart-icon {
    position: absolute;
    left: 11px;
    fill-opacity: 0.3;
    transition: fill-opacity 0.2s;
  }
}

.product__add-to-bookmarks {
  color: $blue;
  border: 3px solid $green;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: $blue;
    transition: border-color 0.2s;
  }

  &:active {
    color: #c1c6ce;
    border-color: #c1c6ce;
  }
}

.brands {
  margin-bottom: 60px;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;

  &:hover {
    border: none;
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, .75);
    transition: box-shadow 0.15s;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.services {
  padding-top: 60px;
  padding-bottom: 100px;
  color: black;
  background: $lightblue url("../img/service-bg.png") no-repeat 80% center;
}

.services__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.services__about {
  margin-bottom: 67px;
  font-family: $second-font;
  font-size: 13px;
  line-height: 24px;
}

.tabs-wrapper {
  position: relative;
  display: flex;
}

.services__tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1000;

  &::after {
    position: absolute;
    top: -45px;
    right: 0;
    width: 10px;
    height: 272px;
    content: "";
    background-image: url("../img/service-menu-right-bottom.png");
  }
}

.tab {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  margin-right: 10px;
  padding-left: 20px;
  font-size: 21px;
  color: white;
  background-color: $blue;
  transition: opacity 1s;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #4d637b;
  }

  &:hover {
    background-color: $darkblue;
  }

  &.active {
    color: $blue;
    background-color: white;
  }
}

.service {
  flex-grow: 1;
  position: relative;
  height: 182px;
  margin-left: 80px;

  &:nth-of-type(1) {
    background: url("../img/service-1-icon.png") no-repeat center right;
  }

  &:nth-of-type(2) {
    background: url("../img/service-2-icon.png") no-repeat center right;
  }

  &:nth-of-type(3) {
    background: url("../img/service-3-icon.png") no-repeat center right;
  }

  &__header {
    margin-top: 0;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: $blue;
  }

  &__description {
    font-family: $second-font;
    font-size: 13px;
    line-height: 24px;
  }

  .to-order-credit {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 195px;
    height: 38px;
  }
}

.about-us {
  padding-top: 55px;
  padding-bottom: 65px;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .about-company,
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .about-company {
    width: 560px;

    &__title {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: normal;
    }

    &__text {
      margin-bottom: 24px;
      font-size: 13px;
      line-height: 24px;
      font-family: $second-font;

      &:last-of-type {
        margin-bottom: 18px;
      }
    }

    .to-info {
      width: 220px;
      height: 38px;
      margin-top: auto;
    }
  }

  .contacts {
    width: 300px;

    &__title {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 30px;
      font-weight: normal;
    }

    &__text {
      margin-bottom: 24px;
      font-size: 13px;
      line-height: 24px;
      font-family: $second-font;
    }

    .minimap:hover {
      box-shadow: 0 0 10px 0 rgba(50, 50, 50, .75);
      transition: box-shadow 0.3s;
    }

    .write-us {
      width: 300px;
      height: 38px;
      margin-top: auto;
    }
  }

  .partners-list {
    margin-bottom: 34px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 20px;

    .partner {
      margin-bottom: 13px;
    }

    .dash {
      font-weight: bold;
      color: $red;
    }
  }
}


.footer {
  margin-top: auto;
  background-color: $blue;
}

.footer__top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 68px;
  font-size: 30px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;

  &__link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__top-nav {
  .footer-nav__link {
    color: white
  }
}

.footer__middle-nav {
  .footer-nav__link {
    color: $yellow;
  }
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  .address {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    color: white;

    .phone {
      color: white;
    }
  }

}

.footer__bottom {
  background-color: $darkblue;
  padding: 33px 0;


  .flex-wrapper {
    display: flex;
    align-items: center;
  }

  .copyright {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: white;
  }

  .socials {
    display: flex;
    align-items: center;
    margin: 0 0 0 160px;
    padding: 0;
    list-style: none;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 4px;
      font-size: 0;
      border-radius: 50%;
      background-color: #212a3a;

      &:hover {
        background-color: $red;
        transition: background-color 0.25s ;
      }
    }

    .social-icon {
      fill: white;
    }
  }

  .developer {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
    line-height: 18px;

    &__contacts {
      color: white;
    }

    &__author {
      margin-left: 50px;
      color: white;
    }

    .link {
      color: #d6b479;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

}



#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 9000;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 9010;
}

#close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  .icon {
    fill: $red;
  }
}

.closed {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
